<p id="notice"><%= notice %></p>

<h1>Your workouts</h1>

<% if current_user %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th> <%= 'Name' %> </th>
      </tr>
      </thead>

      <tbody>
      <% @workouts.each do |workout| %>
          <tr>
            <td><%= link_to workout.name, workout %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
    <p>Only logged in users can manage workouts! Log in to access this feature.</p>
<% end %>

<br>

<%= link_to('New workout', new_workout_path) if current_user %>