<p id="notice"><%= notice %></p>

<h2>
  Workout <%= @workout.name %>
</h2>

<p>This workout includes the following exercises:</p>

<ul>
  <% @workout.exercises.each do |exercise| %>
    <li><%= link_to exercise.name, exercise %></li>
  <% end %>
</ul>

<br>


