<p id="notice"><%= notice %></p>

<h2>
  <%= @exercise.name %>
</h2>

<br>

<% if current_user %>
    <h4>Add this exercise to your program</h4>
    <% else %>
    <h4>To add this exercise to your workout and program, log in!</h4>
<% end %>



